.content {
  padding: 2rem 1rem;
  h1 {
    color: #505df3;
    font-weight: 600;
    letter-spacing: 1px;
  }
  #subTitle {
    color: #505df3;
    font-weight: 500;
    font-size: 16px;
  }
}
#searchName {
  color: #505df3;
  font-weight: 500;
  font-size: 16px;
}
#searchInfo {
  color: gray;
  font-weight: 500;
}
.saveBut {
  margin-top: 1rem;
  border-radius: 17px;
  padding: 0px 24px;
}
.wrapBtn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.carre {
  width: 50px;
  height: 50px;
  background: #f4f7f7;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.infoSub {
  font-weight: 600;
  color: black;
  font-size: 13px;
  text-align: left;
  min-width: 120px;
}
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #fbfbfb !important;
}
:host ::ng-deep .mat-form-field-infix {
  border-top: 0.554375em solid transparent !important;
  padding: 5px 0rem;
}
.rowContact {
  display: flex;
  /* justify-content: space-around; */
  align-items: baseline;
}
.mat-form-field {
  max-height: 38px;
  max-width: 150px;
}
