<div *responsive="{bootstrap : ['lg','xl','md']}" class="content">
    <h2 mat-dialog-title>Ajouter un bien</h2>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" (closed)="unsetStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="(step===0)?'active':''">
              Informations générales
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon *ngIf="step !== 0">add</mat-icon>
              <mat-icon *ngIf="step === 0">remove</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <span class="infoSub">Disponibilité</span>
          <mat-form-field class="formField" appearance="outline">
            <input matInput placeholder="Field instruction..">
          </mat-form-field>
          <span class="infoSub">But</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Field instruction..">
          </mat-form-field>
          <span class="infoSub">Référence</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="FKXXXXXXX">
          </mat-form-field>
        </mat-expansion-panel>
       
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" (closed)="unsetStep(1)"  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="(step===1)?'active':''">
                Détails du bien
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="step !== 1">add</mat-icon>
                <mat-icon *ngIf="step === 1">remove</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
          <span class="infoSub">Disponibilité</span>
          <mat-form-field class="formField" appearance="outline">
            <input matInput placeholder="Field instruction..">
          </mat-form-field>
          <span class="infoSub">But</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Field instruction..">
          </mat-form-field>
          <span class="infoSub">Référence</span>
          <mat-form-field appearance="outline">
            <input matInput placeholder="FKXXXXXXX">
          </mat-form-field>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" (closed)="unsetStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title [ngClass]="(step===2)?'active':''">
                Annonce
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon *ngIf="step !== 2">add</mat-icon>
                <mat-icon *ngIf="step === 2">remove</mat-icon>
              </mat-panel-description>
          </mat-expansion-panel-header>
      
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
          </mat-form-field>
          <mat-datepicker #picker></mat-datepicker>
      
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" (closed)="unsetStep(3)" hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="(step===3)?'active':''">
                  Localisation
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon *ngIf="step !== 3">add</mat-icon>
                    <mat-icon *ngIf="step === 3">remove</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <span class="infoSub">Disponibilité</span>
            <mat-form-field class="formField" appearance="outline">
              <input matInput placeholder="Field instruction..">
            </mat-form-field>
            <span class="infoSub">But</span>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Field instruction..">
            </mat-form-field>
            <span class="infoSub">Référence</span>
            <mat-form-field appearance="outline">
              <input matInput placeholder="FKXXXXXXX">
            </mat-form-field>
        
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" (closed)="unsetStep(4)"  hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="(step===4)?'active':''">
                  Energie
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon *ngIf="step !== 4">add</mat-icon>
                    <mat-icon *ngIf="step === 4">remove</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput>
            </mat-form-field>
        
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" (closed)="unsetStep(5)"  hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="(step===5)?'active':''">
                  Contact
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon *ngIf="step !== 5">add</mat-icon>
                    <mat-icon *ngIf="step === 5">remove</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput>
            </mat-form-field>
    
          </mat-expansion-panel>
          <mat-expansion-panel style="border-bottom: 1px solid rgba(0, 0, 0, 0.1);" [expanded]="step === 6" (opened)="setStep(6)"  (closed)="unsetStep(6)"hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title [ngClass]="(step===6)?'active':''">
                  Télécharger mes documents
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon *ngIf="step !== 6">add</mat-icon>
                    <mat-icon *ngIf="step === 6">remove</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
        
            <mat-form-field>
              <mat-label>Date</mat-label>
              <input matInput >
            </mat-form-field>
          </mat-expansion-panel>
      
      </mat-accordion>
      <div class="wrapBtn">
        <button mat-flat-button color="primary" (click)="saveForm()" class="saveBut">Enregistrer</button>
      </div>
      
      
      <mat-card >
        <mat-card-content>
            <div class="cardResume">
                <span class="progressValue">Votre bien est complet a {{this.value}} %</span>
                <mat-progress-bar
                  class="example-margin"
                  color="primary"
                  [mode]="mode"
                  [value]="value"
                >
                </mat-progress-bar>
                <p><mat-icon *ngIf="this.step ==undefined || this.step <0" >check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 0">check_circle</mat-icon> Prix</p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <1">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 1">check_circle</mat-icon> Localisation</p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <2">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 2">check_circle</mat-icon> <span>Annonce</span></p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <3">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 3">check_circle</mat-icon> <span>Informations supplémentaires</span></p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <4">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 4">check_circle</mat-icon> <span>Documents légaux</span></p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <5">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 5">check_circle</mat-icon> <span>Contact</span></p>
                <p><mat-icon *ngIf="this.step ==undefined ||this.step <6">check_circle_outline</mat-icon> <mat-icon *ngIf="this.step >= 6">check_circle</mat-icon> <span>Photos</span></p>
                <button  mat-flat-button color="primary" class="publishButDisabled"  *ngIf="this.value!=100">Publier</button>
                <button mat-stroked-button color="primary" class="publishBut" *ngIf="this.value==100">Publier</button>
            </div>
        </mat-card-content>
      </mat-card>
      <mat-card >
        <mat-card-content>
            <div class="cardCerti">
                <img class="certiLogo" src="https://www.certinergie.be/wp-content/themes/Certinergie/build/images/certinergie-logo.svg" alt="Certinergie" >
                <span class="cardTitle">Besoin de l'un des certificat?</span>
                <mat-radio-group color="primary" >
                  <mat-radio-button value="1">Certificat PEB</mat-radio-button>
                  <mat-radio-button value="2">Contrôle électrique</mat-radio-button>
                  <mat-radio-button value="3">Contrôle citerne à mazout</mat-radio-button>
                  <mat-radio-button value="4">Photos</mat-radio-button>
                  <mat-radio-button value="5">Plans</mat-radio-button>
                </mat-radio-group>
                <button mat-flat-button color="primary" class="certiConfirm">Afficher les services et packs</button>
            </div>
        </mat-card-content>
      </mat-card>
</div>
<div *responsive="{bootstrap : ['sm','xs']}" class="contentMobile">
  <h1 mat-dialog-title >Ajouter un bien</h1>
  <div class="formMobile">
    <mat-expansion-panel (opened)="step1 = true"
                       (closed)="step1 = false">
    <mat-expansion-panel-header>
      <mat-panel-title >
        L'annonce
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="rowContact">
      <span class="infoSub">Type de contact</span>
      <mat-form-field appearance="outline">
          <mat-select value="Particulier">
              <mat-option>None</mat-option>
              <mat-option value="Particulier">Particulier </mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Nom</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Dupont">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Prénom</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="David">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Téléphone</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="+32487225663">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Email</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="dupont@hello.be">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Langue</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Francais">
        </mat-form-field>
  </div>
  <hr>
  <div class="rowContact">
      <span class="infoSub">Adresse + n°</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Rue grande 56">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Code postale</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="5501">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Commune</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Dinant">
        </mat-form-field>
  </div>
  <div class="rowContact">
      <span class="infoSub">Pays</span>
      <mat-form-field appearance="outline">
          <input matInput placeholder="Belgique">
        </mat-form-field>
  </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="step2 = true"
  (closed)="step2 = false">
<mat-expansion-panel-header>
<mat-panel-title >
  Détails du bien
</mat-panel-title>
</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Pays</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Belgique">
    </mat-form-field>
</div>

</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Prix
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
<div class="rowContact">
  <span class="infoSub">Superficie</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="190 m²">
    </mat-form-field>
</div>
<div class="rowContact">
  <span class="infoSub">Chambre</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="4">
    </mat-form-field>
</div>
<div class="rowContact">
  <span class="infoSub">Salle de bain</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="2">
    </mat-form-field>
</div>
<div class="rowContact">
  <span class="infoSub">Terasse</span>
  <mat-slide-toggle color="primary"></mat-slide-toggle>
</div>
<div class="rowContact">
  <span class="infoSub">Jardin</span>
  <mat-slide-toggle color="primary"></mat-slide-toggle>
</div>

</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Adresse
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Propriétaire
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Intérieurs
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Extérieurs
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Energies
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<mat-expansion-panel (opened)="step3 = true"
(closed)="step3 = false">
<mat-expansion-panel-header>
<mat-panel-title >
Facilités
</mat-panel-title>

</mat-expansion-panel-header>
<div class="rowContact">
  <span class="infoSub">Type de bien</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="Maison">
    </mat-form-field>
</div>
</mat-expansion-panel>
<div class="wrapBtn">
  <button mat-flat-button color="primary"  class="">Enregistrer</button>
</div>
</div>
  <!-- <mat-card >
    <mat-card-content>
        <div class="cardCerti">
            <img class="certiLogo" src="https://www.certinergie.be/wp-content/themes/Certinergie/build/images/certinergie-logo.svg" alt="Certinergie" >
            <span class="cardTitle">Besoin de l'un des certificat?</span>
            <mat-radio-group color="primary" >
              <mat-radio-button value="1">Certificat PEB</mat-radio-button>
              <mat-radio-button value="2">Contrôle électrique</mat-radio-button>
              <mat-radio-button value="3">Contrôle citerne à mazout</mat-radio-button>
              <mat-radio-button value="4">Photos</mat-radio-button>
              <mat-radio-button value="5">Plans</mat-radio-button>
            </mat-radio-group>
            <button mat-flat-button color="primary" class="certiConfirm">Afficher les services et packs</button>
        </div>
    </mat-card-content>
  </mat-card> -->
</div>