<h1 mat-dialog-title>Modifier </h1>
<div mat-dialog-content>
    <p></p>
    <div class="side-form">
        <h1></h1>
        <div class="form-container">
            <form [formGroup]="goodservice.form" fxLayout="column" fxLayoutAlign="space-between none" >
                <div fxLayout="column">
                    <mat-form-field>
                        <input formControlName="name" matInput placeholder="Nom *" />
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="city" matInput placeholder="Ville *" />
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <mat-form-field fxFlex="30">
                        <input formControlName="room" matInput placeholder="Chambre *" />
                    </mat-form-field>
                    <mat-form-field fxFlex="30">
                        <input formControlName="bathroom" matInput placeholder="Salle de bain *" />
                    </mat-form-field>
                    <mat-form-field fxFlex="30">
                        <input formControlName="area" matInput placeholder="Surface *" />
                    </mat-form-field>
                </div>
                <div fxLayout="column">
                    <mat-form-field>
                        <input formControlName="deadline" matInput placeholder="Date *" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="priority" placeholder="Proprieté">
                            <mat-option [value]="'Elevée'">
                                Elevée
                            </mat-option>
                            <mat-option [value]="'Normal'">
                                Normal
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select formControlName="status" placeholder="Status">
                            <mat-option [value]="'Visite en cours'">
                                Visite en cours
                            </mat-option>
                            <mat-option [value]="'Recherche'">
                                Recherche
                            </mat-option>
                            <mat-option [value]="'En vente'">
                                En vente
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button mat-stroked-button  color="primary">
                        Enregistrer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
