.span-h{
    display: block;display: block;font-size: 18px;color: cornflowerblue;
}
.span-h2{
    font-size: 11px;color: #777;
}
.div-date{
    max-width: 126px;
    max-height: 50px;
    border: 1px solid #7d7777;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
    font-weight: bold;
}
.div-status{
    max-width: 126px;
    max-height: 50px;
    border: 1px solid #ef7c2a;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
    font-weight: bold;color: #ef7c2a;
}
.div-status2{
    max-width:200px;
            margin:auto;
             font-weight: bold;
}