<footer  [style]="getposition(position)">
    <mat-toolbar class="menu_mobile" color="primary">
      <div *ngFor="let menu of list"  fxFlex fxLayout="row" fxLayoutAlign="space-between center">
  
        <button mat-button routerLink="/home" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>{{menu.icon}}</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>{{menu.name}}</span>
          </div>
        </button>
        
  
      </div>
    </mat-toolbar>
  </footer>

