
@import "../../css/utilities/responsive";

  
 
  ::ng-deep.sidenav{
    background-color:$accent;
    color: $text-nav;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
      .mat-toolbar-desk{
        background-color:$accent;
        color: #fff;
        display: inline-flex;
        margin-top: 50px;
        margin-bottom: 50px;
            img{
              width: 100px;
              border-radius: 50px;
            }
      }
      .mat-icon{
        width: 37px;
        height: 37px;
      }
    }


  
  ::ng-deep .mat-toolbar-desk.mat-primary {
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 50px; // Note: iPhonePlus requires 80px, so will need to be variable, but not handling that in this demo.
    
  }
  @include bp-medium-min {
  ::ng-deep.container{
    height: 100%;
    padding: 10px;
    overflow: hidden;
    width: 100% !important;
 
  }}