<div fxLayout="column">
    <div fxLayout="row">
        <!--Zone Work > Header-->
        <div class="div-header" fxLayoutAlign="space-between center" >
             <div >
              <router-outlet name='header'></router-outlet>
             
            </div>
            <button mat-stroked-button (click)="showSlide()" >Slide</button>
        </div>
    </div>
   
        <!--Zone Work > Content-->
  
          
            <router-outlet name='content'></router-outlet>

            <!--<app-goods class="goods"></app-goods>-->
     

    
</div>
<app-slide-panel></app-slide-panel>
