.mat-elevation-z8{
    padding-top:10px !important;
}
@import "../../css/utilities/variables";
@import "../../css/utilities/mixins";
@import "../../css/utilities/responsive";
@import "../../css/utilities/tools";

:host {
  width: 100%;
  max-width: calculateRem(1400px);
  margin: 0 auto;
  padding: $spacing-m;
}

.ds-section:not(:last-child) {
  margin: 0 0 $spacing-m 0;
  padding: 0 0 $spacing-m 0;
  border-bottom: $basic-border;
}

.ds-example-container {
  border: $basic-border;
  padding: $spacing-r;
  & + .ds-example-container {
    margin-top: $spacing-m;
  }
}

#colors-sections {
  .couleur {
    padding: $spacing-r $spacing-m;
    text-align: center;
    &.primary-darken {
      background: $primary-darken;
      color: white;
    }
    &.primary {
      background: $primary;
      color: white;
    }
    &.accent-darken {
      background: $accent-darken;
    }
    &.accent {
      background: $accent;
    }
    &.danger {
      background: $danger;
    }
    &.warning {
      background: $warning;
    }
    &.warning-darken {
      background: $warning-darken;
    }
    &.info {
      background: $info;
    }
    &.info-darken {
      background: $info-darken;
    }
    &.light-background {
      background: $light-background;
    }
    &.text-color {
      background: $text-color;
      color: white;
    }
    &.extralight-gray {
      background: $extralight-gray;
    }
    &.light-gray {
      background: $light-gray;
    }
    &.mid-gray {
      background: $mid-gray;
    }
    &.overlay {
      background: $overlay;
    }
  }
}

#organisation-sections {
  .grid-element {
    padding: 0;
    list-style-type: none;
  }
}

#buttons-sections {
  .ds-example {
    @include flexbox($wrap: wrap);
    margin: $neg-spacing-r;
    button,
    a {
      margin: $spacing-s;
    }
  }
}

#input-sections {
  #with-label {
    .ds-example {
      @include flexbox($direction: column, $align-items: flex-start);
      label {
        margin: 0 0 $spacing-xs 0;
      }
    }
  }
}

#advance-tooltip-sections {
  .ds-example {
    @include flexbox();
    app-tooltip:not(:last-child) {
      margin-right: $spacing-m;
    }
  }
}

#grid-disposition {
  .grid-element {
    background: pink;
    padding: $spacing-r $spacing-m;
    text-align: center;
  }
}
