
<header class="header" fxLayout="column"><app-menu  [name]="'header'" [type]="navigationMobileHeaderComponent" ></app-menu></header>

<div fxLayout="row" fxFlex="100" class="content position" >
 <div fxLayout="column" fxFlex="200px" *xl><app-menu  [name]="'star'" [type]="navigationDesktopComponent" ></app-menu></div>
 <div class="content" fxLayout="column" fxFlex>
  <app-goods></app-goods>
 </div>
</div>

<footer  class="footer" fxLayout="column" *responsive="{ bootstrap:['xs', 'sm','md']}"><app-menu  [name]="'footer'" [type]="navigationMobileFooterComponent" ></app-menu></footer>