<div fxLayout="row" fxFlex="100" class="content position" *responsive="{ bootstrap:['xl','lg']}">
  <div fxLayout="row" fxFlex="15" class="nav"><app-menu [name]="'star'" [type]="navigationDesktopComponent"></app-menu></div>
  <div fxLayout="column" fxFlex="79" fxFlexOffset="3">
      <div fxLayout="column">
          <!--Zone Header-->
           <app-header></app-header>
      </div>
      <div fxLayout="column">
          <!--Zone Work-->
          <app-work></app-work>
      </div>
  </div>
</div>
<!--Mobile-->
<div *responsive="{ bootstrap:['xs', 'sm','md']}">
  <header class="header" fxLayout="column"><app-menu [name]="'header'" [type]="navigationMobileHeaderComponent"></app-menu></header>
  <app-goods></app-goods>
  <footer class="footer" fxLayout="column"><app-menu [name]="'footer'" [type]="navigationMobileFooterComponent"></app-menu></footer>
</div>
