
@import "../../../css/utilities/variables";
@import "../../../css/utilities/mixins";
@import "../../../css/utilities/responsive";
@import "../../../css/utilities/tools";
.span-h{
    display: block;display: block;font-size: 18px;color: cornflowerblue;
    
}
.span-h2{
    font-size: 11px;color: #777;
    
}

.div-date{
    max-width: 126px;
    max-height: 50px;
    border: $basic-border;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
.div-status{
    max-width: 126px;
    max-height: 50px;
    border: 1px solid #ef7c2a;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
    font-weight: bold;color: #ef7c2a;
    background-color: rgb(253 63 20 / 20%);
}
.div-status2{
    max-width:200px;
            margin:auto;
             font-weight: bold;text-transform: uppercase;
             font-size: 11px;
             text-align: center;
}
.div-status2 mat-icon{
color:cornflowerblue;
position: absolute;
    font-size: 23px;
}
.div-name{
    line-height: 27px;
}
.div-name img{
    max-width: 50PX;
    max-height: 50px;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc
}
.mat-badge-content{
    background-color: #fcb73d !important;
  }
.mat-column-actions mat-icon{
    color:cornflowerblue;
    font-size: 17px;
}
.mat-icon-button {

    float: left;
}
