<div  class="content">
  <h2 mat-dialog-title>Ajouter Evenement</h2>
  <hr>
  <div class="form">
      <div class="rowContact">
          <span class="infoSub">Tarif</span>
          <mat-form-field appearance="outline">
              <mat-select >
                  <mat-option>None</mat-option>
                  <mat-option >Match </mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
      </div>
      <div class="rowContact">
        <span class="infoSub">Groupe</span>
        <mat-form-field appearance="outline">
            <mat-select >
                <mat-option>None</mat-option>
                <mat-option >EN </mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
          </mat-form-field>
    </div>
      <div class="rowContact">
          <span class="infoSub">Nom de manifistation</span>
          <mat-form-field appearance="outline">
              <input matInput placeholder="Maroc vs ...">
            </mat-form-field>
      </div>
      <div class="rowContact">
          <span class="infoSub">Date</span>
          <mat-form-field>
            <input formControlName="deadline" matInput placeholder="__/__/_____      __:__ " />
        </mat-form-field>
      </div>
      <div class="rowContact">
        <span class="infoSub">Equipe A</span>
        <mat-form-field appearance="outline">
            <mat-select >
                <mat-option>None</mat-option>
                <mat-option >mar </mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
          </mat-form-field>
    </div>
    <div class="rowContact">
      <span class="infoSub">Equipe A</span>
      <mat-form-field appearance="outline">
          <mat-select >
              <mat-option>None</mat-option>
              <mat-option >Egp </mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
  </div>
  <div class="rowContact">
    <span class="infoSub">Maquettes</span>
    <mat-form-field appearance="outline">
        <mat-select >
            <mat-option>A</mat-option>
            <mat-option >B </mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
      </mat-form-field>
</div>
<div class="rowContact">
  <span class="infoSub">Description</span>
  <mat-form-field appearance="outline">
      <input matInput placeholder="">
    </mat-form-field>
</div>
<div class="form-group">
  <button mat-stroked-button  color="primary">
      Enregistrer
  </button>
</div>
       
  </div>
</div>
