<app-controls [templateCtr]="templateCtr" [data]="dataSource">
    <ng-template #templateCtr let-data="data">
        <app-list [templateList]="templateList" [data]="data" [displayedColumns]="displayedColumns">
            <ng-template #templateList let-element="element" let-column="column">
                <div class="div-name" >
                    
                    <span class="span-h">{{element[column]}}</span>
                   

                </div>
              
  
                <div class="mat-column-actions" *ngIf="column== 'actions'">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
            </ng-template>
        </app-list>
    </ng-template>
  </app-controls>
  