
                <div class="div-name" >
                    
                    <span class="span-h">{{element[column]}}</span>
                   

                </div>
              
  
                <div class="mat-column-actions" *ngIf="column== 'actions'">
                    <button mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon>visibility</mat-icon>
                    </button>
                </div>
