table {
    width: 100%;
  }
  
  .mat-column-actions {
    text-align: right;
  }
.hr-div{
  max-width: 150px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: system-ui;

}