

<form [formGroup]="goodservice.form" fxLayout="column" fxLayoutAlign="space-between none" >
<h1 mat-dialog-title>{{goodservice.form.controls['name'].value}} - {{goodservice.form.controls['city'].value}}</h1> 
<div mat-dialog-content>
  <p> {{goodservice.form.controls['status'].value}}</p>
  <p>id : {{goodservice.form.controls['id'].value}} </p>
  <p>{{goodservice.form.controls['room'].value}} rooms - {{goodservice.form.controls['bathroom'].value}} bathrooms - {{goodservice.form.controls['area'].value}} area</p>
</div>
</form>


 
 
