@import "../../css/utilities/responsive"; 

.sidenav-container {
    height: 100%;
  }
  .layout-home{
    height: auto !important;
}
 
  @include bp-medium-min {
  .position{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.nav{
  background-color: $accent;
}
app-work{
  width: 100%;
}
.ng-star-inserted{
  width: 100%;
}