 <!--DiskTop-->
 <div fxLayout="column">
    <!--Zone Header-->
     <app-header></app-header>
</div>
<div fxLayout="row"  fxFlexFill class="layout-home" >
    <div fxLayout="column" fxFlex="15" class="nav"><lib-menu [list]="listmenu" [name]="'star'" [type]="navigationDesktopComponent"></lib-menu></div>
    <div fxLayout="column" fxFlex="auto" fxFlexOffset="2">
        
        
        <div fxLayout="column">
            <!--Zone Work-->
            <app-work></app-work>
        </div>
    </div>
  </div>
  <!--Mobile-->
  <!--<div fxLayout="row"  fxFlexFill class="layout-home" *responsive="{ bootstrap:['xs', 'sm','md']}">
      <!--Zone Work-->
      <!--<app-work></app-work>
  </div>
<app-mobile [menu]="listmenu" *responsive="{ bootstrap:['xs', 'sm','md']}"></app-mobile>-->
